# MANIFEST.in
include moses/metrics/NP_Score/publicnp.model.gz
include moses/metrics/SA_Score/fpscores.pkl.gz
include moses/metrics/wehi_pains.csv
include moses/metrics/mcf.csv
include moses/dataset/data/train.csv.gz
include moses/dataset/data/test.csv.gz
include moses/dataset/data/test_scaffolds.csv.gz
include moses/dataset/data/test_stats.npz
include moses/dataset/data/test_scaffolds_stats.npz
